@model IEnumerable<tourneybracket.Models.Bracket>

@{
    ViewData["Title"] = "Index";
}

<h1>Brackets</h1>

<div class="Suite">
    <a asp-action="Create" class="Suite">New Tournament</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
               Bracket Name
            </th>
            <th>
                Created On
            </th>
            <th>
                Total Rounds
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BracketName)
            </td>
            <td>
                @item.CreatedAt.ToString("MM/dd/yyyy hh:mm tt")


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRounds)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
